<h1>Tags</h1>
<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag %>
      <%= link_to 'Delete', tag, method: :delete, 
        data: { confirm: "Sure to delete #{tag.name} tag?" } %>
    </li>
  <% end %>
</ul>